@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: FiraCode;
  src: url(/fonts/FiraCode-Regular.ttf);
}

.font-roboto {
  font-family: Roboto;
}

.font-firacode {
  font-family: FiraCode;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 17px;
  max-width: 100vw;
  min-height: 100vh;
}

@media (max-width: 380px) {
  html,
  body {
    font-size: 11px;
  }
}

@media (max-width: 1030px) {
  html,
  body {
    font-size: 14px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav.open {
  display: flex;
  flex-direction: column;

  border-radius: 0.6rem;

  --margin-x: 0.5rem;
  margin-left: var(--margin-x);
  margin-right: var(--margin-x);

  --padding-x: 2rem;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);

  padding-bottom: 2rem;

  box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

pre {
  overflow-wrap: break-word;
  overflow-y: scroll;
}
